<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <%= link_to "Card Central", listings_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <%= link_to "Listings", listings_path, class: "nav-link active" %>
          </li>

          <li class="nav-item">
            <%= link_to "Create Listing", new_listing_path, class: "nav-link active" %>
          </li>

          <li class="nav-item">
            <% if user_signed_in? %>
              <%# logout button (only show when logged in) %>
              <%= link_to "Log out", destroy_user_session_path, method: "delete", class: "nav-link active" %>
            <% else %>
              <%# log in button - only show this when logged out %>
              <%= link_to "Log in", new_user_session_path, class: "nav-link active" %>
            <% end %>
          </li>
        </ul>
        <%# bring this back in when search has been implemented %>
        <%# <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form> %>
      </div>
    </div>
  </nav>
</header>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
